body {
  width: 960px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* HEADER */
header {
  background: #333;
  color: white;
  padding: 20px;
}

header h1 {
  margin-bottom: 15px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO SECTION */
main section:first-of-type {
  margin: 30px 0;
}

/* 3 COLUMN SECTION */
main section:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* FEATURED SECTION */
main section:last-of-type {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

main section:last-of-type article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  padding: 10px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

main section:nth-of-type(2) {
  display: flex;
  gap: 20px;
}

